<h1>All Savings</h1>
<a href="{% url 'saving_create' %}">Add Deposit</a>
<table border="1">
<tr>
    <th>Customer</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Balance</th>
    <th>Date</th>
    <th>Actions</th>
</tr>
{% for saving in savings %}
<tr>
    <td>{{ saving.customer.full_name }}</td>
    <td>{{ saving.saving_type }}</td>
    <td>{{ saving.amount }}</td>
    <td>{{ saving.balance }}</td>
    <td>{{ saving.date }}</td>
    <td>
        <a href="{% url 'saving_withdraw' saving.pk %}">Withdraw</a>
    </td>
</tr>
{% endfor %}
</table>
